* {
    font-family: Arial, sans-serif;
}

body {
    overflow-x: hidden; /* Remove o rolamento lateral */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.titulo-principal {
    margin-top: 10px;
    font-size: 20px;
}

header {
    margin-bottom: 10px;
    position: relative; /* Necessário para posicionar o pseudo-elemento */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    background-color: #003366;
    color: rgb(255, 255, 255);
    border-bottom: -10px solid rgb(255, 255, 255); /* Borda preta abaixo do cabeçalho */
    background-repeat: no-repeat;
    background-size: 5%;
    background-position: left top;
}

/* Divisor diagonal no cabeçalho */
header::after {
    content: '';
    position: absolute;
    bottom: -25px; /* Ajuste fino para a posição */
    margin-left: 300px; /* Garantir que comece da esquerda */
    margin-bottom: 24px;
    width: 100%;
    height: 2px; /* Ajuste da espessura do divisor */
    background-color: rgb(255, 255, 255); /* Cor do divisor */
    transform: skewY(-65deg); /* Ajuste da inclinação para suavizar o ângulo */
    transform-origin: top left;
    z-index: 1; /* Para garantir que fique visível */
}

header .logo-container {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

header .logo-container img {
    height: 80px;
    margin-right: 10px;
}

header h1 {
    font-size: 24px;
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none; /* Remove o sublinhado padrão */
    font-weight: bold;
    padding-bottom: 5px; /* Espaçamento entre o texto e a linha */
    border-bottom: 2px solid transparent; /* Inicialmente a linha é transparente */
    transition: border-bottom 0.3s ease; /* Suaviza a transição da linha */
}

nav ul li a:hover {
    border-bottom: 2px solid white; /* A linha aparece ao passar o mouse */
    color: black;
    font-weight: bolder;
    transition: background-color 0.5s ease, color 0.5s ease;
    cursor: pointer;
}

#side-menu {
    font-size: 30px;
    padding: 5px;
    margin-left: 10px;
    border: none;
    color: white;
}

#side-menu:hover {
    background-color: #06325f;
    color: black;
    cursor: pointer;
    transform: scale(1.2);
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

main {
    flex: 1;
    padding: 20px;
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 1em 0;
}

.titulo-0 {
    background-color: rgb(255, 255, 255);
    padding: 200px;
    margin-left: -100px;
    margin-right: -100px;
    margin-top: -25px;
    background-image: url(../img/logosemfundo.png);
    background-repeat: no-repeat;
    background-size: 33%;
    background-position: left, center, right;
}

.titulo-00 {
    margin-left: 80px;
}

.titulo-000 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    color: rgb(0, 0, 0);
}

.mensagem-sucesso {
    background-color: #dff0d8;
    color: #3c763d;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #3c763d;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f4f4f4;
    text-align: left;
}
